<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello world
    </h1>
    <!-- <p>{{ pokemon_name }}</p> -->
    <h3>Berry</h3>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/45.png" />
    {% for i in response %}
    {{ i.name }}<br>
    <a href="{{ i.url }}">{{i.url}}</a><br><br>
    {% endfor %}
    <!-- {{ response.results }} -->
</body>
</html>